body{
    font-family: 'Roboto', sans-serif; 
    background-color: rgb(18, 198, 243); 
}
.header_div {
    background-color: rgb(83, 86, 83);
    color: black;
    text-align: center;
    
}
 .header_div p {
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main_div button {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer{
    position: fixed;
    color: gray;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: white;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px gray;
}